<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609207852362-ngj7n9qdjmuvacke2ksnqp9d2foigd7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609207852362-ngj7n9qdjmuvacke2ksnqp9d2foigd7u</string>
	<key>API_KEY</key>
	<string>AIzaSyB6eNzbi_lZZZqcVqZA0i6WVGyWS_jLajg</string>
	<key>GCM_SENDER_ID</key>
	<string>609207852362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madmillgames.fluttersnslogin2205</string>
	<key>PROJECT_ID</key>
	<string>fluttersnslogin2205</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersnslogin2205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609207852362:ios:194af9c7f3f7ef0183b5b3</string>
</dict>
</plist>